/* header */
#main-header {
    display: flex;
    height: 100px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--section-border-color);
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
}
#button-home {
    margin-left: 10px;
}
#button-info, #button-download, #button-open {
    margin-right: 10px;
}

/* toolbar */
#toolbar {
    display: flex;
    height: 70px;
    flex-shrink: 0;
    justify-content: left;
    align-items: center;
    background-color: var(--quaternary-color);
    border-bottom: 1px solid var(--section-border-color);
}
.toolbar-item {
    position: relative;
    margin-left: 10px;
}
.tool-button {
    border-radius: 10%;
    padding: 5px;
}
.tool-button:not(.selected) {
    border: 1px solid var(--button-border-color);
    cursor: pointer;
    &:hover {
        border: 1px solid lime;
    }
}
.tool-button.selected {
    border: 2px solid green;
    cursor: default;
}
.tool-icon {
    width: 40px;
    height: 40px;
}
.tool-submenu {
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: 1px solid var(--section-border-color);
    border-radius: 3px;
    padding: 10px;
}
.tool-submenu-button {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    &:hover {
        filter: url(/filters.svg#filter-hover);
    }
}
.tool-submenu-button > img {
    height: 40px;
    margin-right: 10px;
}

/* canvas */
#main-canvas {
    flex-grow: 1;
}
#main-canvas canvas {
    width: 100%;
    height: 100%;
    background-color: var(--primary-darker-color);
}

/* general-settings */
#general-settings-frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 10px;
    max-height: calc(100% - 20px);
    overflow: hidden;
}
#general-settings-icon {
    align-self: flex-end;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#general-settings-icon > img {
    height: 50px;
    width: 50px;
    display: block;
}
#general-settings-icon:hover {
    transform: rotate(90deg);
}
#general-settings-icon:hover > img {
    filter: url(/filters.svg#filter-hover);
}
#general-settings {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    margin-top: 5px;
    border: 1px solid var(--section-border-color);
    padding: 10px;
}
#general-settings-title {
    font-size: 30px;
    margin-bottom: 5px;
}
.general-settings-section {
    border-top: 1px solid var(--section-border-color);
    padding: 5px;
    margin-bottom: 5px;
}
.general-settings-section-title {
    font-size: 24px;
}
.general-settings-section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    align-items: center;
}
.general-settings-section-grid > * {
    font-size: 20px;
    margin: 5px;
}
.general-settings-section-grid > input:not([type="color"]) {
    max-width: 100px;
    height: fit-content;
}
.general-settings-section-grid > input[type="color"] {
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
}
.general-settings-section-grid > div {
    text-align: right;
}

/* sidebar */
#main-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    background-color: var(--secondary-color);
    border-right: 1px solid var(--section-border-color);
}
#element-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.element-list-item {
    width: stretch;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.element-list-item > div {
    font-size: 20px;
    margin-right: 10px;
}
.element-list-item > button {
    text-align: left;
    font-size: 30px;
    &.default-cursor {
        cursor: default;
    }
    &.hovered {
        color: lime;
    }
    &.selected {
        color: limegreen;
    }
}
#element-center, #element-delete {
    flex-grow: 1;
}
#element-delete {
    color: crimson;
}


/* element-settings */
#element-settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--secondary-color);
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px solid var(--section-border-color);
    padding: 10px;
}
#element-settings * {
    font-size: 30px;
}
#element-settings > * {
    margin-bottom: 10px;
}
#element-settings-title {
    font-size: 40px;
}
#element-settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
}
#element-settings-grid > * {
    margin: 10px;
}
#element-settings-grid > input {
    max-width: 200px;
    height: fit-content;
    align-self: center;
}
#element-settings-grid > div {
    text-align: right;
}

/* info */
#info-box {
    flex-direction: column;
    z-index: 1;
    width: 700px;
    top: 220px;
    left: 50%;
    background-color: var(--primary-color);
    border: var(--section-border-color) 1px solid;
    padding: 10px;
    transform: translateX(-50%);
    &[open] {
        display: flex;
    }
}
#info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info-box-title {
    font-size: 40px;
    margin-bottom: 5px;
}
#info-box-close > img {
    height: 40px;
    width: 40px;
}
.info-box-content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--section-border-color);
    padding: 10px;
}
.info-box-content-title {
    font-size: 30px;
    margin-bottom: 5px;
}
.info-box-content-text {
    font-size: 20px;
}
#info-box-hotkeys {
    border-collapse: collapse;
}
#info-box-hotkeys th, #info-box-hotkeys td {
    border: 1px solid var(--section-border-color);
    padding: 5px;
}

/* message */
#message-box {
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 50%;
    font-size: 30px;
    padding: 10px;
    transform: translateX(-50%);
}
