body {
    flex-direction: row;
}
input {
    background-color: var(--primary-color);
}

/* main */
#main-sidebar {
    width: min-content;
    background-color: #f1f1f166;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#main-sidebar > :first-child {
    display: flex;
    justify-content: space-between;
}
#main-sidebar > :nth-child(2) > button {
    width: stretch;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    padding: 30px;
    text-decoration: none;
    &:hover {
        color: lightgray;
    }
}
#main-container {
    height: 100vh;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* editor */
.editor {
    width: 800px;
    max-height: 500px;
    background-color: var(--primary-color);
}
.editor > header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 75%, 0.3);
}
.editor > header > div {
    margin: 20px;
    font-size: 50px;
}
.editor > section {
    font-size: 24px;
}

/* loot luck */
#loot-luck > section button {
    font-size: 30px;
}
#loot-luck > section > div {
    display: flex;
    font-size: 30px;
}
#loot-luck > section > div > div:first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
}
#loot-luck > section > div > div:first-child > * {
    margin: 10px;
}
#loot-luck > section > div > div:first-child > input {
    width: 150px;
    height: fit-content;
    align-self: center;
    font-size: 30px;
}
#loot-luck > section > div > div:nth-child(2) > div:first-child {
    display: flex;
    align-items: center;
}
#loot-luck > section > div > div:nth-child(2) > div:not(:first-child) {
    margin-left: 15px;
}

/* misc */
#button-hide-sidebar, #button-home {
    margin-left: 10px;
    margin-right: 10px;
}
#button-show-sidebar {
    position: absolute;
    left: 10px;
}