body {
    height: 100vh;
    font-size: 20px;
    color: white;
    background-color: rgb(15, 23, 42);
    display: flex;
    flex-direction: column;
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    color: white;
    cursor: pointer;
    background-color: rgb(35, 50, 84);
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid darkgray;
    font-size: 40px;
    padding: 7px 15px;
    margin: 15px;
}
input {
    background-color: rgb(23 47 92);
    color: white;
    border: 1px solid white;
}
select {
    background-color: rgb(23 47 92);
    color: white;
    border: 1px solid white;
    width: fit-content;
}
.a-button {
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(35, 50, 84);
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid darkgray;
    font-size: 40px;
    padding: 7px 15px;
    margin: 15px;
}
a {
    display: block;
}
.invisible {
    display: none;
}

/* main */
#main-banner {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 50, 84);
    border-bottom: 1px solid darkgray;
    font-size: 50px;
}
#main-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 0;
    bottom: 0;
    background-color: rgb(23 47 92);
    border-right: 1px solid darkgray;
}
#main-sidebar > div {
    font-size: 36px;
}
#main-sidebar > :nth-child(1) > :nth-child(1) {
    cursor: pointer;
}
#main-sidebar > div:nth-child(n + 2) {
    padding: 10px;
}
#main-sidebar > :nth-child(2) > div {
    padding-left: 3px;
    cursor: pointer;
}
#main-sidebar > :nth-child(2) > div:hover {
    border: 2px solid darkgray;
}
#main-sidebar > :nth-child(3) > div {
    padding-left: 3px;
    cursor: pointer;
}
#main-sidebar > :nth-child(3) > div:hover {
    color: lime;
}
#main-canvas {
    position: absolute;
    inset: 0 0 0 300px;
}

.tab {
    flex-grow: 1;
    border-color: darkgray;
    border-style: solid;
    border-width: 0;
}
        
#element-settings {
    position: absolute;
    background-color: rgb(23 47 92);
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
    border-left: 1px solid darkgray;
    font-size: 30px;
}
#element-settings * {
    font-size: 30px;
}
#element-settings > div {
    display: flex;
    flex-direction: column;
}
#element-settings > div > * {
    margin-bottom: 10px;
}
#element-settings > div > button {
    background-color: rgb(23 47 92);
    color: crimson;
}
#element-settings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
}
#element-settings-grid > * {
    margin: 10px;
}
#element-settings-grid > input {
    max-width: 200px;
    height: fit-content;
    align-self: center;
}
#element-settings-grid > div {
    text-align: right;
}