body {
    height: 100vh;
    font-size: 20px;
    color: white;
    background-color: rgb(15, 23, 42);
    display: flex;
    flex-direction: column;
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    color: white;
    cursor: pointer;
    background-color: rgb(35, 50, 84);
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid darkgray;
    font-size: 40px;
    padding: 7px 15px;
    margin: 15px;
}
input {
    background: rgb(23 47 92);
    color: white;
    border: 1px solid white;
}
.a-button {
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(35, 50, 84);
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid darkgray;
    font-size: 40px;
    padding: 7px 15px;
    margin: 15px;
}
a {
    display: block;
}
.invisible {
    display: none;
}

/* main */
#main-banner {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 50, 84);
    border-bottom: 1px solid darkgray;
    font-size: 50px;
}
#main-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 0;
    bottom: 0;
    background-color: rgb(23 47 92);
    border-right: 1px solid darkgray;
}
#main-sidebar > div {
    font-size: 36px;
}
#main-sidebar > div:nth-child(1) > div:nth-child(1) {
    cursor: pointer;
}
#main-sidebar > div:nth-child(n + 2) {
    padding: 10px;
}
#main-sidebar > div:nth-child(2) > div {
    padding-left: 3px;
    cursor: pointer;
}
#main-sidebar > div:nth-child(2) > div:hover {
    border: 2px solid darkgray;
}
#main-sidebar > div:nth-child(3) > div {
    padding-left: 3px;
}
#main-sidebar > div:nth-child(3) > div:hover {
    color: gold;
}
#main-canvas {
    position: absolute;
    inset: 0 0 0 300px;
}

.tab {
    flex-grow: 1;
    border-color: darkgray;
    border-style: solid;
    border-width: 0;
}
        
#component-settings {
    position: absolute;
    background-color: rgb(23 47 92);
    width: calc(max-content + 10px);
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}
#component-settings > div {
    display: flex;
    flex-direction: column;
}
#component-settings > div > div {
    display: flex;
    justify-content: space-between;
}
