body {
    height: 100vh;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-color);
}
.text-button {
    background-color: var(--button-color);
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid var(--button-border-color);
    font-size: 40px;
    padding: 7px 15px;
    margin: 15px;
    &:hover {
        background-color: var(--button-hover-color);
    }
}
.a-button {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}
input {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
}
select {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    width: fit-content;
}
img {
    display: block;
}
.icon-button > img, .icon-button > img {
    width: 70px;
    height: 70px;
    &:hover {
        filter: url(/filters.svg#filter-hover);
    }
}
.invisible {
    display: none !important;
}